.border-red{
    border: 1px solid red;
}
.bg-black{
    background-color: #000000;
}

.m-1{
    margin: 5px;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.gap-1{
    gap: 35px;
}
.invert{
    filter: invert(1);
}
.rounded-sm{
    border-radius: 10px;
}
