@import "tailwindcss";

.navUl{
  @apply flex justify-center items-center gap-10 bg-blue-500 text-white;
}
.navItems{
  @apply px-5 py-3 text-2xl font-bold transition;
  &&:hover{
    @apply bg-blue-400;
  }
}
.footerStyle{
  @apply flex justify-center items-center gap-10 bg-blue-500 text-white
}
.activeStyle {
  @apply px-5 py-3 text-2xl font-bold bg-blue-700;

  
}
.card{
  @apply px-5 py-2 w-1/4 bg-blue-700 text-white flex flex-col justify-start items-start text-2xl;
}